.green-btn{
    background: #4CAF4F;
    color:#fff;
    font-weight: 400;
}

.green-btn:hover,.green-btn:focus{
    background: #1e8a21;
    color:#fff;  
}

.link-cor{
    color: #1e8a21;
    padding: 15px;
}

/* transform */

.text-translate{
    transform: translateY(-70%);
    background-color: #d7d7d7;
}