.green-btn{
    background: #4CAF4F;
    color:#fff;
    font-weight: 400;
}

.green-btn:hover,.green-btn:focus{
    background: #1e8a21;
    color:#fff;  
}

.link-cor{
    color: #1e8a21;
    padding: 15px;
    display: block;
    text-align: center;
}


.text-translate{
   
    transform: translateY(-70%);
    background-color: #efefef;
    padding: 25px;
    width: 317px;
    border-radius: 10px;
    margin: auto;
}
.card{
    border: none;
}
.card img{
    width: 100%;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}

.baixo2 {
    background-color: #263238;
    height: 328px;
}

.baixo2 p{
    color: #fff;
}

.baixo2 h4{
    color: #fff;
}
