.green-btn{
    background: #4CAF4F;
    color:#fff;
    font-weight: 400;
}

.green-btn:hover,.green-btn:focus{
    background: #1e8a21;
    color:#fff;  
}

.link-cor{
    color: #1e8a21;
    padding: 15px;
    display: block;
    text-align: center;
}


.text-translate{
   
    transform: translateY(-70%);
    background-color: #efefef;
    padding: 25px;
    width: 317px;
    border-radius: 10px;
    margin: auto;
}
.card{
    border: none;
}
.card img{
    width: 100%;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}

.baixo2 {
    background-color: #263238;
    height: 328px;
}

.baixo2 p{
    color: #fff;
}

.baixo2 h4{
    color: #fff;
}


footer li{
    list-style: none;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer input{
    border-radius: 10px;
    background-color: #adadad;
    height: 40px;
    width: 255px;
}

.redes{
    display: flex;
    gap: 25px;
}


ul li{
    margin: 10px;
}

ul{
    padding-left: 0px;
}

.tesla{
    background-color: #F5F7FA;
    
}


.big-numbers{
    background-color: #F5F7FA;
    height: 288px;
    padding-top: 110px;
    
}


span{
    color: #4CAF4F;
}

.baixo{
    background-color: #F5F7FA;
}

.paragrafos-produtos{
    width: 628px;
    margin: auto;
    text-align: center;
}